
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481680081309'); /* IE9*/
  src: url('iconfont.eot?t=1481680081309#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481680081309') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481680081309') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481680081309#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e600"; }

.icon-up:before { content: "\e601"; }

.icon-next:before { content: "\e602"; }

.icon-address:before { content: "\e603"; }

.icon-minus:before { content: "\e604"; }

.icon-complete:before { content: "\e605"; }

.icon-down:before { content: "\e606"; }

.icon-phone:before { content: "\e607"; }

.icon-plus:before { content: "\e608"; }

.icon-closesolid:before { content: "\e609"; }

.icon-close:before { content: "\e60a"; }

.icon-success:before { content: "\e60b"; }

.icon-search:before { content: "\e60c"; }

.icon-radio:before { content: "\e60d"; }

.icon-bag:before { content: "\e60e"; }

.icon-edit:before { content: "\e60f"; }

.icon-comment:before { content: "\e610"; }

.icon-dress:before { content: "\e611"; }

.icon-entertainment:before { content: "\e612"; }

.icon-starsolid:before { content: "\e613"; }

.icon-starhollow:before { content: "\e614"; }

.icon-praisehollow:before { content: "\e615"; }

.icon-praisesolid:before { content: "\e616"; }

.icon-like:before { content: "\e61c"; }

.icon-makeup:before { content: "\e617"; }

.icon-tie:before { content: "\e618"; }

.icon-sport:before { content: "\e619"; }

.icon-liked:before { content: "\e61a"; }

.icon-nextsolid:before { content: "\e61b"; }

.icon-remind:before { content: "\e61d"; }

.icon-totop:before { content: "\e61e"; }

.icon-vip:before { content: "\e61f"; }

.icon-halfstar:before { content: "\e620"; }

.icon-kinghat:before { content: "\e621"; }

.icon-counttime:before { content: "\e622"; }

.icon-dinner:before { content: "\e623"; }

.icon-location:before { content: "\e624"; }

.icon-camera:before { content: "\e625"; }

.icon-bianxin:before { content: "\e626"; }

.icon-life:before { content: "\e627"; }

.icon-accessory:before { content: "\e628"; }

.icon-card:before { content: "\e629"; }

.icon-wifi:before { content: "\e62a"; }

.icon-park:before { content: "\e62b"; }

.icon-tel:before { content: "\e62d"; }

